snippet agenda
	* Done
	* Doing
	* To-Do
	  - ${1}
	* Notes
snippet today
	** `system("date '+%A, %h %d'")`
	   - ${1}
snippet tomorrow
	** `system("date --date='tomorrow' '+%A, %h %d'")`
	   - ${1}
snippet yesterday
	** `system("date --date='yesterday' '+%A, %h %d'")`
	   - ${1}
snippet now Insert just current time
	`system("date '+%R'")`
snippet now Insert current time and date
	`system("date '+%R, %h %d'")`
