snippet item
	\begin{itemize}
	  \item ${1}
	\end{itemize}

snippet env
	\begin{${1:}}
	  ${2}
	\end{$1}

snippet color
	{\color{${1}}${2}}

snippet frame
	\begin{frame}
	  \frametitle{${1}}
	  ${2}
	\end{frame}
